# Python files
__pycache__/

# MacOS system files
.DS_Store

# VSCode files
/vscode

# Data files
/data

# Lightning files
/lightning_logs

# Model files
/checkpoints
/models

# Notebooks
/benchmark_data_loading.ipynb
/model_container.ipynb
/models.ipynb
/transformation_tester.ipynb