# .env file
.env

# Notebooks # TODO: make these public after polishing them
/doc

# Cache and logs
__pycache__/
/lightning_logs
.ipynb_checkpoints/
.neptune/

# MacOS system files
.DS_Store

# VSCode files
/.vscode

# Files
/archive
/local_save

# Data files
/data

# Output directories
/out
/outputs
*.out
*.log
