# Python files
__pycache__/

# MacOS system files
.DS_Store

# VSCode files
/.vscode

# Data files
/data

# Local test files
/local_test_files

# Lightning files
/lightning_logs

# Models
/checkpoints
/models

# Notebooks for generating .py files
/notebooks_for_py